ingress:
  enabled: true
  ingressClassName: nginx
  hosts:
  - pihole.local.simonjohansson.com
  tls:
  - secretName: pihole-tls
    hosts:
    - pihole.local.simonjohansson.com
  annotations:
    "cert-manager.io/cluster-issuer": letsencrypt

serviceDhcp:
  enabled: false

monitoring:
  podMonitor:
    enabled: true
    labels:
      release: prometheus
  sidecar:
    enabled: true