helmDefaults:
  kubeContext: docker-desktop
  createNamespace: true

repositories:
- name: ingress-nginx
  url: https://kubernetes.github.io/ingress-nginx
- name: prometheus-community
  url: https://prometheus-community.github.io/helm-charts
- name: mojo2600
  url: https://mojo2600.github.io/pihole-kubernetes

templates:
  default: &default
    missingFileHandler: Warn
    wait: true
    timeout: 600
    values:
    - config/{{ `{{.Release.Name}}` }}/values.yaml

releases:
- <<: *default
  name: prometheus
  namespace: prometheus
  chart: prometheus-community/kube-prometheus-stack
  version: 51.2.0

- <<: *default
  name: ingress-nginx
  namespace: ingress-nginx
  chart: ingress-nginx/ingress-nginx
  version: 4.8.0
  needs:
  - prometheus/prometheus

- <<: *default
  name: pihole
  namespace: pihole
  chart: mojo2600/pihole
  version: 2.18.0
  needs:
  - prometheus/prometheus